{%- comment -%}
  Store social profile links from theme settings (same order as footer).
  @param {boolean} [open_new_tab] - omit or true for new tab; false for same window
{%- endcomment -%}
{%- assign social_links_array = 'Twitter,Pinterest,LinkedIn,Instagram,Facebook,YouTube,Vimeo,TikTok,Snapchat' | split: ',' -%}
<div class="main-password__social svg-color-inherit">
  <ul class="main-password__social-list list-unstyled" role="list">
    {%- for social_link in social_links_array -%}
      {%- assign social_link_handle = social_link | handleize -%}
      {%- assign social_link_settings_handle = 'social_' | append: social_link_handle | append: '_link' -%}
      {%- assign social_icon_name = 'brand-' | append: social_link_handle -%}
      {%- if settings[social_link_settings_handle] != blank -%}
        <li class="main-password__social-item">
          <a
            href="{{- settings[social_link_settings_handle] -}}"
            class="main-password__social-link"
            title="{{- social_link | escape -}}"
            {%- if open_new_tab != false -%}
              target="_blank"
              rel="noopener noreferrer"
            {%- endif -%}
          >
            {% render 'icon', icon_name: 'theme-socials', social_name: social_icon_name %}
            <span class="visually-hidden">{{- social_link -}}</span>
          </a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
