<div class="app-embeds">
  <div class="container max-w-{{ section.settings.section_width }}">
    {%- for block in section.blocks -%}
      {% render block %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.apps.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:global.header.settings.content",
      "info": "t:global.header.settings.info"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:global.settings.section.width.label",
      "options": [
        {
          "value": "page",
          "label": "t:global.settings.section.width.options.page.label"
        },
        {
          "value": "fluid",
          "label": "t:global.settings.section.width.options.fluid.label"
        },
        {
          "value": "full",
          "label": "t:global.settings.section.width.options.full.label"
        }
      ],
      "default": "page"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.name"
    }
  ]
}
{% endschema %}
