.marquee-tags {
  --gutter: 2.4rem;

  position: relative;
  display: flex;
  overflow: hidden;
  max-width: 13rem;
  margin-inline-start: auto;
  user-select: none;
  text-align: end;
  color: rgb(var(--color-foreground));
  font-size: var(--font-size-static-xs);
  line-height: var(--line-height-static-sm);
  letter-spacing: var(--letter-spacing-md);
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.2);
  border-radius: .1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: .2rem 1rem;
}

.marquee-tags__items {
  flex-shrink: 0;
  display: flex;
  min-width: 100%;
  --scroll-transform-translate-x: -100%;
  animation: scroll 6s linear infinite;
}
[dir='rtl'] .marquee-tags__items {
  --scroll-transform-translate-x: 100%;
}

.marquee-tags__items + .marquee-tags__items {
  margin-inline-start: var(--gutter);
}

.marquee-tags__item + .marquee-tags__item {
  margin-inline-start: var(--gutter);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(var(--scroll-transform-translate-x) - var(--gutter)));
  }
}
